apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-app-config
data:
  default.conf: |
    server {
      listen 80;
      location / {
        proxy_pass {{ .Values.forwarder.upstreamUrl }};
      }
    }
